.list-group {

  margin:auto;
  float:left;
  padding-top:20px;
}
.lead {

  margin:auto;
  left:0;
  right:0;
  padding-top:10%;
}

.list-group-item{
  background-color: #616161;
  color:white;
  font-style: normal;
  border: 1px solid #bbb;
}
