<div class="list-group">

  <a [routerLink] ="['gallery/', 'camping']" class="list-group-item "><i class="fa fa-key"></i> <span>Camping</span></a>
  <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Billing</span></a>
  <a href="#" class="list-group-item"><i class="fa fa-question-circle"></i> <span>Support</span></a>
  <a href="#" class="list-group-item"><i class="fa fa-arrow-circle-o-left"></i> <span>Sandbox Account</span></a>
  <a href="#" class="list-group-item"><i class="fa fa-book"></i> <span>QuickStart Overview</span></a>
  <a href="#" class="list-group-item"><i class="fa fa-compass"></i> <span>Documentation</span></a>


</div>
